<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="main-nav">
      <h1>Beef Company Srl.</h1>
    </nav>

    <div class="main-dropdowns">
      <mat-form-field>
        <mat-label> Pane </mat-label>
        <mat-select>
          <mat-option value="pane-normale"> Pane normale </mat-option>
          <mat-option value="pane-integrale"> Pane integrale </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label> Contenuto </mat-label>
        <mat-select>
          <mat-option value="pollo"> Pollo </mat-option>
          <mat-option value="manzo"> Manzo </mat-option>
          <mat-option value="veg"> Vegetariano </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label> Salse </mat-label>
        <mat-select>
          <mat-option value="ketchup"> Ketchup </mat-option>
          <mat-option value="maionese"> Maionese </mat-option>
          <mat-option value="bbq"> BBQ </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    
    <section class="main-cards">
    </section>
  </body>
</html>
